* {
	background-image: none;
	box-shadow: none;
  font-family: 'JetBrainsMono Nerd Font', 'FiraCode Nerd Font', '0xProto Nerd Font', 'Montserrat', sans-serif;
}

window {
	background-color: rgba(50, 50, 50, 0.4);
}

button {
    border-radius: 0;
    border-color: black;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #1E1E1E;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus {
	border: 3px solid white;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock-new.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout-new.png"), url("/usr/local/share/wlogout/icons/logout.png"));
  }
#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend-new.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate-new.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown-new.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot-new.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
